In [ ]:
!pip install --upgrade pandas==2.0.3

In [1]:
import pandas as pd

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv('cleaned_dataset.csv')

In [3]:
df.shape

(6482, 16)

In [4]:
df.describe()

,Database Fundamentals,Computer Architecture,Distributed Computing Systems,Cyber Security,Networking,Software Development,Programming Skills,Project Management,Computer Forensics Fundamentals,Technical Communication,AI ML,Software Engineering,Business Analysis,Data Science,Troubleshooting skills,Role
count,6143,6079,6100,6115,6096,6108,6090,6087,6073,6098,6109,6090,6101,6105,6086,6482
unique,13,13,12,13,13,13,13,11,13,13,13,13,13,13,13,15
top,Excellent,Excellent,Intermediate,Intermediate,Intermediate,Excellent,Intermediate,Intermediate,Intermediate,Excellent,Excellent,Excellent,Excellent,Intermediate,Excellent,Cyber Security Specialist
freq,964,944,1044,966,956,952,962,1028,953,950,948,962,956,960,959,450

In [5]:
# Print the names of all columns in the DataFrame
df.columns

Index(['Database Fundamentals', 'Computer Architecture',
       'Distributed Computing Systems', 'Cyber Security', 'Networking',
       'Software Development', 'Programming Skills', 'Project Management',
       'Computer Forensics Fundamentals', 'Technical Communication', 'AI ML',
       'Software Engineering', 'Business Analysis', 'Data Science',
       'Troubleshooting skills', 'Role'],
      dtype='object')

In [6]:
df.isna().sum()

Database Fundamentals              339
Computer Architecture              403
Distributed Computing Systems      382
Cyber Security                     367
Networking                         386
Software Development               374
Programming Skills                 392
Project Management                 395
Computer Forensics Fundamentals    409
Technical Communication            384
AI ML                              373
Software Engineering               392
Business Analysis                  381
Data Science                       377
Troubleshooting skills             396
Role                                 0
dtype: int64

## try to drop null vlues

In [7]:
droped = df.dropna()

In [8]:
droped.isna().sum()

Database Fundamentals              0
Computer Architecture              0
Distributed Computing Systems      0
Cyber Security                     0
Networking                         0
Software Development               0
Programming Skills                 0
Project Management                 0
Computer Forensics Fundamentals    0
Technical Communication            0
AI ML                              0
Software Engineering               0
Business Analysis                  0
Data Science                       0
Troubleshooting skills             0
Role                               0
dtype: int64

In [9]:
# there are too much null values so
droped.shape

(2694, 16)

## droping non it jobroles

In [10]:
df['Role'].unique()

array(['API Specialist', 'Graphics Designer', 'Technical Writer',
       'AI ML Specialist', 'Helpdesk Engineer', 'Hardware Engineer',
       'Software Developer', 'Customer Service Executive',
       'Business Analyst', 'Networking Engineer', 'Software tester',
       'Cyber Security Specialist', 'Data Scientist',
       'Information Security Specialist', 'Database Administrator'],
      dtype=object)

In [ ]:
roles_drop =['API Specialist', 'Graphics Designer', 'Technical Writer',
        'Helpdesk Engineer', 'Customer Service Executive']

# Use boolean indexing to select rows where 'Role' is NOT in roles_drop
df = df[~df['Role'].isin(roles_drop)]

# Display the updated DataFrame shape
df.shape

(4349, 16)

In [ ]:
df['Role'].unique()

array(['AI ML Specialist', 'Hardware Engineer', 'Software Developer',
       'Business Analyst', 'Networking Engineer', 'Software tester',
       'Cyber Security Specialist', 'Data Scientist',
       'Information Security Specialist', 'Database Administrator'],
      dtype=object)

## dropping unnecesrry columns

In [ ]:
df.columns

Index(['Database Fundamentals', 'Computer Architecture',
       'Distributed Computing Systems', 'Cyber Security', 'Networking',
       'Software Development', 'Programming Skills', 'Project Management',
       'Computer Forensics Fundamentals', 'Technical Communication', 'AI ML',
       'Software Engineering', 'Business Analysis', 'Data Science',
       'Troubleshooting skills', 'Role'],
      dtype='object')

In [ ]:
# removing columns list
dropping = ['Project Management',
       'Computer Forensics Fundamentals', 'Technical Communication','Troubleshooting skills',]

In [ ]:
skill_mapping = {
    'No Experience': 0,
    'Poor': 1,
    'Novice': 2,
    'Beginner': 3,
    'Entry-level': 4,
    'Average': 5,
    'Intermediate': 6,
    'Advanced': 7,
    'Expert': 8,
    'Professional': 9,
    'Excellent': 10,
    'N/A': None,
    'Not Interested': None,
    'None': None,
    '': None
}