In [ ]:
!pip install --upgrade pandas==2.0.3

In [11]:
import pandas as pd

In [10]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df = pd.read_csv('realistic_dataset.csv')

In [12]:
real= pd.read_csv('cleaned_dataset.csv')
print(real.shape)
print(real['Role'].value_counts())

(6482, 16)
Role
Cyber Security Specialist          450
Graphics Designer                  448
Software Developer                 446
Database Administrator             446
Technical Writer                   441
Data Scientist                     441
AI ML Specialist                   438
Customer Service Executive         434
Business Analyst                   432
Hardware Engineer                  426
Networking Engineer                424
Information Security Specialist    424
Software tester                    422
Helpdesk Engineer                  408
API Specialist                     402
Name: count, dtype: int64

In [13]:
print(df.shape)
print(df['Role'].value_counts())

(1986, 12)
Role
Cyber Security Specialist          405
Software Developer                 356
Database Administrator             312
Data Scientist                     264
AI ML Specialist                   219
Business Analyst                   172
Hardware Engineer                  127
Networking Engineer                 84
Information Security Specialist     42
Software tester                      5
Name: count, dtype: int64

In [14]:
df.shape

(1986, 12)

In [15]:
df.describe()

,Database Fundamentals,Computer Architecture,Distributed Computing Systems,Cyber Security,Networking,Software Development,Programming Skills,AI ML,Software Engineering,Business Analysis,Data Science,Role
count,1882,1864,1868,1882,1864,1873,1856,1863,1865,1867,1885,1986
unique,13,13,11,13,13,13,11,13,11,13,13,10
top,Professional,Excellent,Excellent,Professional,Excellent,Professional,Intermediate,Excellent,Excellent,Intermediate,Excellent,Cyber Security Specialist
freq,273,295,322,352,312,299,318,288,320,297,282,405

In [17]:
# Print the names of all columns in the DataFrame
df.columns

Index(['Database Fundamentals', 'Computer Architecture',
       'Distributed Computing Systems', 'Cyber Security', 'Networking',
       'Software Development', 'Programming Skills', 'AI ML',
       'Software Engineering', 'Business Analysis', 'Data Science', 'Role'],
      dtype='object')

In [16]:
df.isna().sum()

Database Fundamentals            104
Computer Architecture            122
Distributed Computing Systems    118
Cyber Security                   104
Networking                       122
Software Development             113
Programming Skills               130
AI ML                            123
Software Engineering             121
Business Analysis                119
Data Science                     101
Role                               0
dtype: int64

## try to drop null vlues

In [7]:
droped = df.dropna()

In [8]:
droped.isna().sum()

Database Fundamentals              0
Computer Architecture              0
Distributed Computing Systems      0
Cyber Security                     0
Networking                         0
Software Development               0
Programming Skills                 0
Project Management                 0
Computer Forensics Fundamentals    0
Technical Communication            0
AI ML                              0
Software Engineering               0
Business Analysis                  0
Data Science                       0
Troubleshooting skills             0
Role                               0
dtype: int64

In [9]:
# there are too much null values so
droped.shape

(2694, 16)

## droping non it jobroles

In [10]:
df['Role'].unique()

array(['API Specialist', 'Graphics Designer', 'Technical Writer',
       'AI ML Specialist', 'Helpdesk Engineer', 'Hardware Engineer',
       'Software Developer', 'Customer Service Executive',
       'Business Analyst', 'Networking Engineer', 'Software tester',
       'Cyber Security Specialist', 'Data Scientist',
       'Information Security Specialist', 'Database Administrator'],
      dtype=object)

In [ ]:
roles_drop =['API Specialist', 'Graphics Designer', 'Technical Writer',
        'Helpdesk Engineer', 'Customer Service Executive']

# Use boolean indexing to select rows where 'Role' is NOT in roles_drop
df = df[~df['Role'].isin(roles_drop)]

# Display the updated DataFrame shape
df.shape

(4349, 16)

In [ ]:
df['Role'].unique()

array(['AI ML Specialist', 'Hardware Engineer', 'Software Developer',
       'Business Analyst', 'Networking Engineer', 'Software tester',
       'Cyber Security Specialist', 'Data Scientist',
       'Information Security Specialist', 'Database Administrator'],
      dtype=object)

## dropping unnecesrry columns

In [ ]:
df.columns

Index(['Database Fundamentals', 'Computer Architecture',
       'Distributed Computing Systems', 'Cyber Security', 'Networking',
       'Software Development', 'Programming Skills', 'Project Management',
       'Computer Forensics Fundamentals', 'Technical Communication', 'AI ML',
       'Software Engineering', 'Business Analysis', 'Data Science',
       'Troubleshooting skills', 'Role'],
      dtype='object')

In [ ]:
# removing columns list
dropping = ['Project Management',
       'Computer Forensics Fundamentals', 'Technical Communication','Troubleshooting skills',]